.grad,
.stones1Icon {
  position: absolute;
  top: 0;
  left: 0;
}
.stones1Icon {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.grad {
  background: linear-gradient(180deg, #1e293b, rgba(30, 41, 59, 0));
  width: 320px;
  height: 100px;
  z-index: 1;
}
.stones1Parent {
  height: 640px;
  flex: 1;
  position: relative;
}
.sidecol {
  width: 320px;
  margin: 0 !important;
  position: absolute;
  height: 100%;
  top: 0;
  right: 18px;
  bottom: 0;
  background-color: var(--color-semantic-color-side-col);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-3xs);
  box-sizing: border-box;
}
.manyPeopleHave,
.people {
  margin: 0;
  position: relative;
  font-family: inherit;
}
.people {
  font-size: inherit;
  line-height: 100%;
  text-transform: uppercase;
  font-weight: 900;
  background: linear-gradient(
    104.33deg,
    #00a1c7,
    #f5559e 48.39%,
    #fff,
    #ed7d0c
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.manyPeopleHave {
  font-size: var(--font-size-xl);
  line-height: 160%;
  font-weight: 300;
}
.headings {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  max-width: 100%;
}
.description {
  align-self: stretch;
  position: relative;
  font-size: var(--base-txt-size);
  line-height: 200%;
  font-weight: 200;
  color: var(--color-semantic-color-base-txt);
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}
.containerWithsidecol,
.texts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.texts {
  width: 888px;
  gap: var(--gap-base);
}
.containerWithsidecol {
  width: 1280px;
  padding: 0 var(--padding-13xl);
  box-sizing: border-box;
  z-index: 2;
}
.stonecarouselitem2Icon {
  height: 212px;
  width: 212px;
  position: relative;
  border-radius: var(--br-xs);
  object-fit: cover;
  min-height: 212px;
}
.container,
.containerWrapper,
.sectionStones,
.stonecarousel {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.stonecarousel {
  overflow: hidden;
  justify-content: center;
  padding: var(--padding-xs) var(--padding-9xl) var(--padding-xs) 0;
  gap: var(--gap-13xl);
}
.container,
.containerWrapper,
.sectionStones {
  justify-content: flex-start;
}
.container {
  padding: 0 var(--spacing-semantic-spaceing-container-side);
  z-index: 2;
}
.containerWrapper,
.sectionStones {
  padding: 0 0 0 var(--padding-5xs);
}
.sectionStones {
  align-self: stretch;
  background-color: var(--color-semantic-color-content-bg);
  flex-direction: column;
  align-items: center;
  padding: var(--padding-base) var(--padding-xl) var(--padding-37xl)
    var(--padding-9xl);
  position: relative;
  gap: var(--gap-15xl);
  flex-shrink: 0;
  max-width: 102%;
  z-index: 1;
  margin-top: -39px;
  text-align: left;
  font-size: var(--font-size-25xl);
  color: var(--color-gray-100);
  font-family: var(--base-txt);
}
@media screen and (max-width: 1275px) {
  .stonecarousel {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 750px) {
  .people {
    font-size: var(--font-size-16xl);
    line-height: 35px;
  }
  .stonecarousel {
    gap: var(--gap-base);
  }
  .sectionStones {
    gap: var(--gap-mid);
    padding-top: var(--padding-1758xl-9);
    padding-bottom: var(--padding-17xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .manyPeopleHave,
  .people {
    font-size: var(--font-size-7xl);
    line-height: 26px;
  }
  .manyPeopleHave {
    font-size: var(--base-txt-size);
  }
}
